<div #postContainer>
<div class="post-container">
    <div class="profilePic">
      @if (post.userId.imageUrl) {
        <img
          src={{post.userId.imageUrl}} alt="Profile Picture"
        />
      } @else {
        <img
        src="images/default-avatar.jpg" 
      />
      }
      <div></div>
    </div>
    <div class="post-card">
      <div class="post-header">
        <div class="username">{{ post.userId.username }}</div>
        <div class="userEmail">
          {{ post.userId.email }}
        </div>
        <div class="createdAt">
          {{ post.created_at | elapsedTime }}
        </div>
      </div>
      <div class="post-content">
        <p>{{ post.text }}</p>
      </div>
      <div class="post-footer">
        <div>
          <button mat-fab>
            <mat-icon>chat_bubble_outline_outlined</mat-icon>
          </button>
          <!-- {{post.comments.length}} -->
          @if (post.likedByUser) {
          <button mat-fab (click)="removeLike(post._id)">
            <mat-icon>favorite</mat-icon>
            {{ post.likes.length }}
          </button>
          } @else {
          <button mat-fab (click)="like(post._id)">
            <mat-icon>favorite_outline</mat-icon>
            {{ post.likes.length }}
          </button>
          }
        </div>
        @if (this.userId === post.userId._id) {
          <div>
            <!-- <button mat-fab (click)="deletePost(post._id)"> -->
            <button mat-fab (click)="deletePost()">
              <mat-icon class="delete-btn">delete_outline</mat-icon>
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</div>