<div class="header-ontainer">
  <div class="profile-header"></div>
  <div class="profile-container">
    <div class="wrapper">
      <div class="profile-info">
        @if (user?.imageUrl) {
        <div>
          <img class="profile-img" src="{{user?.imageUrl}}" />
        </div>
        } @else {
        <div>
          <img class="profile-img" src="/images/default-avatar.jpg" />
        </div>
        }
        <div class="profile-name">{{ user?.username }}</div>
        <div class="display-name">{{ user?.email }}</div>
      </div>
      <div class="post-counter"><span class="bold">{{userPosts.length}} </span>posts</div>
      <div>
        <div>{{user?.description}}</div>
      </div>
    </div>
    @if (user) {
      <div class="edit-profile">
        <button mat-button class="edit-btn" (click)="openEditDialog(user)">
          <span>Edit profile</span>
        </button>
      </div>
    }
  </div>
</div>
@if (isLoading) {
<app-loader />
} @else {
<main>
  <mat-tab-group>
    <mat-tab label="Your Posts">
      @if (this.userPosts.length === 0) {
        <div class="no-content">No Posts Yet</div>
      } @else {
        <app-post-single
          *ngFor="let post of userPosts"
          [post]="post"
          [userId]="userId"
          (deletePostEvent)="onDeletePost($event)"
        ></app-post-single>
      }
    </mat-tab>
    <mat-tab label="Liked Posts">
      @if (this.likedByUser.length === 0) {
        <div class="no-content">
            No Likes Yet
        </div>
      } @else {
        <app-post-single
        *ngFor="let post of likedByUser"
        [post]="post"
        [userId]="userId"
        (deletePostEvent)="onDeletePost($event)"
        >
        </app-post-single>
      }
    </mat-tab>
  </mat-tab-group>
</main>
}
