<app-header />
<main>
  <mat-tab-group>
    @if (isLoggedIn) {
    <mat-tab label="Recent Posts">
      <div>
        <app-post-list />
      </div>
    </mat-tab>
    <mat-tab label="Popular Posts">
      <app-post-single
      *ngFor="let post of popularPosts"
      [userId]="userId"
      [post]="post"
    ></app-post-single>  
    </mat-tab>
    } @else {
    <mat-tab label="Recent Posts">
      <div>
        <app-post-list />
      </div>
    </mat-tab>
    }
  </mat-tab-group>
</main>
<app-footer />
