body {
    margin: 0;
    background: #161e27;
}

.content-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main-container {
    width: 800px;
    margin: 0 auto;
    color: white;
    text-align: center;
    margin-left: 200px;
}