.left-sidebar {
    width: 250px;
    display: block;
    border-right: 1px solid rgb(114, 119, 141);
    height: 100%;
    color: white;
    margin: 0;
    position: fixed;
}

.left-navbar {
    display: grid;
    gap: 8px;
    margin-top: 10px;
}

.left-navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    gap: 8px;
    outline-offset: -1px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
    transition-duration: 100ms;
}

.avatar {
    width: 30%;
    width: 52px;
    height: 52px;
    color: white;
}

.mat-icon {
    font-size: 22px !important;
}

.mdc-button {
    min-width: 240px !important;
}

.mat-mdc-button>.mat-icon {
    font-size: 1.525rem;
    height: 1.525rem;
    width: 1.525rem;
}

.guest {
    margin-top: 60px;
}

.navigation {
    border-top: 1px solid rgb(114, 119, 141);
    padding: 20px 0px;
    border-bottom: 1px solid rgb(114, 119, 141);
}


.logout-btn {
    margin-top: 10px;
}

.profilePic {
    height: 56px;
    width: 56px;
    border-radius: 120px;
    border: 1px solid darkslategray;
    margin-top: 10px;
}