@if (isLoading) {
<app-loader />
} @else { @for (post of posts; track $index) {
<div class="post-container">
  <div class="profilePic">
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ASample_User_Icon.png&psig=AOvVaw1caMqSgZbqWBMHqpXW_C-W&ust=1733071455406000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2gbXAhIoDFQAAAAAdAAAAABAE"
    />
    <div></div>
  </div>
  <div class="post-card">
    <div class="post-header">
      <div class="username">{{ post.userId.username }}</div>
      <div class="userEmail">{{ '@' + post.userId.username + '.social.bg' }}</div>
      <div class="createdAt">
        {{post.created_at | elapsedTime}}
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
    </div>
    <div class="post-footer">
      <button mat-fab>
        <mat-icon>chat_bubble_outline_outlined</mat-icon>
      </button>
      <!-- {{post.comments.length}} -->
      @if (1 > 2) {
        <button mat-fab>
          <mat-icon>favorite</mat-icon>
          {{post.likes.length}}
        </button>
      } @else {
        <button mat-fab>
          <mat-icon>favorite_outline</mat-icon>
          {{post.likes.length}}
        </button>
      }
      <!-- <div>{{countLikes(post.likes)}}</div> -->
    </div>
  </div>
</div>
} }
