.post-card {
    border-color: rgb(46, 64, 82);
    padding: 12px;
    border-top-width: 0px;
    gap: 12px;
    display: block;
}

.post-header {
    display: flex;
    gap: 12px;
}

.post-content {
    text-align: left;
}

.post-container {
    display: flex;
    border-bottom: 1px solid rgb(114, 119, 141);
}

.profilePic {
    width: 20%;
    margin-top: 12px;
}

.profilePic img{
    height: 48px;
    width: 48px;
}

.post-footer {
    display: flex;
    gap: 12px;
}

.userEmail {
    color: gray;
}