<div class="post-container">
    <div class="profilePic">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ASample_User_Icon.png&psig=AOvVaw1caMqSgZbqWBMHqpXW_C-W&ust=1733071455406000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2gbXAhIoDFQAAAAAdAAAAABAE">
        <div></div>
    </div>
    <div class="post-card">
        <div class="post-header">
            <div class="username">
                Username
            </div>
            <div class="userEmail">
                emailAtabv.bg
            </div>
            <div class="createdAt">
                5m
            </div>
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat iste dolores odit voluptatibus
                delectus nulla eos nemo, ex et excepturi ut, corrupti distinctio qui aliquam temporibus, iure cum animi.
            </p>
        </div>
        <div class="post-footer">
            <div>Comments</div>
            <div>Likes</div>
        </div>
    </div>
</div>
<div class="post-container">
    <div class="profilePic">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ASample_User_Icon.png&psig=AOvVaw1caMqSgZbqWBMHqpXW_C-W&ust=1733071455406000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2gbXAhIoDFQAAAAAdAAAAABAE">
        <div></div>
    </div>
    <div class="post-card">
        <div class="post-header">
            <div class="username">
                Username
            </div>
            <div class="userEmail">
                emailAtabv.bg
            </div>
            <div class="createdAt">
                5m
            </div>
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat iste dolores odit voluptatibus
                delectus nulla eos nemo, ex et excepturi ut, corrupti distinctio qui aliquam temporibus, iure cum animi.
            </p>
        </div>
        <div class="post-footer">
            <div>Comments</div>
            <div>Likes</div>
        </div>
    </div>
</div>
<div class="post-container">
    <div class="profilePic">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ASample_User_Icon.png&psig=AOvVaw1caMqSgZbqWBMHqpXW_C-W&ust=1733071455406000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2gbXAhIoDFQAAAAAdAAAAABAE">
        <div></div>
    </div>
    <div class="post-card">
        <div class="post-header">
            <div class="username">
                Username
            </div>
            <div class="userEmail">
                emailAtabv.bg
            </div>
            <div class="createdAt">
                5m
            </div>
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat iste dolores odit voluptatibus
                delectus nulla eos nemo, ex et excepturi ut, corrupti distinctio qui aliquam temporibus, iure cum animi.
            </p>
        </div>
        <div class="post-footer">
            <div>Comments</div>
            <div>Likes</div>
        </div>
    </div>
</div>
<div class="post-container">
    <div class="profilePic">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ASample_User_Icon.png&psig=AOvVaw1caMqSgZbqWBMHqpXW_C-W&ust=1733071455406000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJC2gbXAhIoDFQAAAAAdAAAAABAE">
        <div></div>
    </div>
    <div class="post-card">
        <div class="post-header">
            <div class="username">
                Username
            </div>
            <div class="userEmail">
                emailAtabv.bg
            </div>
            <div class="createdAt">
                5m
            </div>
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat iste dolores odit voluptatibus
                delectus nulla eos nemo, ex et excepturi ut, corrupti distinctio qui aliquam temporibus, iure cum animi.
            </p>
        </div>
        <div class="post-footer">
            <div>Comments</div>
            <div>Likes</div>
        </div>
    </div>
</div>