/* You can add global styles to this file, and also import other style files */

html {
    background: #161e27;
}

a {
    color: white;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    margin: 10px 0px;
}

.mdc-button {
    justify-content: left !important;
    color: white !important;
    font-weight: 400 !important;
    font-size: 22px !important;
}

.mdc-button:hover {
    background-color: #1e2936 !important;
}

.mat-mdc-tab-label-container {
    border-bottom: 1px solid rgb(114, 119, 141) !important;
}

.mat-mdc-tab-label-container {
    position: sticky !important;
    color: white !important;
    width: 799px;
    z-index: 5 !important;
    background: #161e27;
    border-left: 1px solid rgb(114, 119, 141);
    /* border-right: 1px solid rgb(114, 119, 141); */
}

.mat-mdc-tab .mdc-tab__text-label {
    color: white !important;
    font-size: 18px;
}

.mat-mdc-tab-body {
    padding-bottom: 40px;
}

.header img {
    height: 40px;
    width: 40px;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    width: 30%;
}